.content{
    width: 100%;
    position: absolute;
    background: rgb(238,238,238);
    padding-top: 20px;
}
.item{
    width: 997px;
    background: #FFF;
    // height: 104px;
    display: flex;
    margin: 0 auto;
    padding: 39px 36px;
    font-size: 36px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 3px;
    position: relative;
    .item_title{
        flex: 1;
        
    }
    .inputValue{
        width: 600px;
        text-align: right;
        position: absolute;
        right: 36px;
        top: 23px;
    }
    
    // }
}
.bottom{
    position: absolute;
    bottom: 166px;
    width: 100%;
    // margin: 0 auto;
    .bottom_btn{
        width: 760px;
        height: 116px;
        line-height: 116px;
        font-size: 48px;
        color: #fff;
        background: rgb(0,121,255);
        border-radius: 58px;
        -webkit-border-radius: 58px;
        -moz-border-radius: 58px;
        -ms-border-radius: 58px;
        -o-border-radius: 58px;
        margin: 0 auto;
        text-align: center;
    }
}