.zhe{
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    z-index: 999;
    .select_addtype{
        padding: 30px 0;
        font-size: 48px;
        color: rgb(0,121,255);
        text-align: center;
        background: #fff;
        border-top: 1px solid rgb(238,238,238);
    }
    .addtype{
        padding: 33px 0;
        font-size: 40px;
        color: rgb(154,154,154);
        text-align: center;
        background: #fff;
        border-top: 1px solid rgb(238,238,238);
    }
}
.title{
    background: rgb(238,238,238);
    

}
.addBtn{
    text-align: center;
    height: 104px;
    font-size: 48px;
    color: rgb(154,154,154);
    line-height: 104px;
    background: #fff;
    // box-shadow: 6px 3px 6px 3px rgb(238,237,237), -6px 3px 6px 3px rgb(238,237,237) ;
    border: 1px solid rgb(238,238,238);
}
.content{
    width: 100%;
    position: absolute;
    background: rgb(238,238,238);
    text-align: center;
    padding-top: 20px;
}
.content_item{
    width: 1069px;
    padding: 71px 0;
    background: #fff;
    text-align: left;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    .card_no,.user_name,.phone_no{
        margin-left: 59px;
        font-size: 36px;
        color: rgb(34,34,34);
    }
    .user_name,.phone_no{
        margin-top: 25px;
    }
    .youjian{
        position: absolute;
        right: 60px;
        top: 130px;
        width: 20px;
        height: 36px;
    }
}
.que{
    width: 100%;
    font-size: 48px;
    color: rgb(34,34,34);
    text-align: center;
}